@import "tailwindcss";
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
}
.card {
  padding: 1rem;
}
.read-the-docs {
  color: #888;
  text-decoration: none;
}
.read-the-docs:hover {
  text-decoration: underline;
  cursor: pointer;
}